.rendu {
    color:green;
}

h2 {
  margin: 20px;
}

p {
  margin-left: 20px;
}

.nonRendu {
    background-color: yellow;
    color:red;
    border: 2px solid red;
}

table {
  background-color: rgb(220, 210, 210);
}

.table-container {
    width: 95%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    margin: 24px auto;
  }

  .mat-column-nom {  
    width: 400px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    font-style: italic;
  }
  
  .mat-column-dateDeRendu {
    width: 50px;
    padding-left: 16px;
    text-align: center;

  }
  
  .mat-column-demo-rendu {
    font-style: italic;
    text-align: center;
  }
  
  .mat-column-demo-id {
    text-align: center;
    font-weight: bold;
  }
  
  mat-paginator {
    width: 97%;
    background-color: rgb(231, 217, 217);
  }

  tr:hover {
    background-color: rgb(231, 217, 217);
  }