.form {
    display:flex;
    flex-direction: column;
}
 
.but {
    margin-top: 10px;
    background-color: rgb(231, 217, 217);
    color: black;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
 }

 .container {
    margin: 20px;
 }